/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('Uploads/DJI_0043.JPG'); /* Path to the background image */
    background-size: cover; /* Cover the entire background */
    background-repeat: no-repeat; /* Prevent background from repeating */
    background-attachment: fixed; /* Keep background fixed while scrolling */
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Home Page Styles */
.hero {
    text-align: center;
    margin-top: 50px;
}

.btn {
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

/* Contact Page Styles */
.contact {
    text-align: center;
    margin-top: 50px;
}

.contact form {
    max-width: 500px;
    margin: 0 auto;
}

.contact form label {
    display: block;
    margin-bottom: 5px;
}

.contact form input,
.contact form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact form button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Gallery Page Styles */
/* For screens larger than 600px */
@media only screen and (min-width: 600px) {
    .gallery {
        width: 25%;
    }
}

/* For screens larger than 600px */
@media only screen and (min-width: 600px) {
    .gallery {
        width: 50%; /* or 75%, adjust as needed */
    }
}

.image-container {
    max-width: 800px;
    margin: 0 auto;
}

.gallery img {
    max-width: 100%;
    height: auto;
}
